      <tr id="pnpC-week-id-<%= week.id %>">
        <td class=""><%= link_to week.str_firstDay, week, :class => 'btn btn-default' %></td>
        <td><%= week.str_oAVG %></td>
        <td><%= week.str_dAVG %></td>
        <td><%= link_to 'Destroy', week, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>