<% title t('weeks') %>
<% body_classes "pnpC pnpC-week pnpC-index" %>
<h1><%= yield :title %></h1>

<p id="notice"><%= notice %></p>

<div class="pnpC-date"><%= t('today_is') + ' ' + l(Date.today, format: :m_d_wd) %></div>

<table class="table">
  <thead>
    <tr>
      <th><%= t 'first_day' %></th>
      <th><%= t 'oAVG' %></th>
      <th><%= t 'dAVG' %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @weeks %>
  </tbody>
</table>
