<% title "Week (#{@week.str_firstDay})" %>
<% body_classes "pnpC-week pnpC-show" %>

<h1><%= yield :title %></h1>

<p>
  <strong><%= t('Comment')+':' %></strong>
  <%= @week.comment %>
  <%= t('Edit') %>
</p>

<div class="pnpC-controls">
  <%= link_to t('Back'), weeks_path, :class => 'btn btn-primary' %>
</div>

<p id="notice"><%= notice %></p>

<table id="pnpC-stats-table" class="table">
  <thead>
    <tr>
      <th><%= t('Stats') %></th>
      <th>O</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= t('AVG') %></td>
      <td id="pnpC-oAVG"><%= @week.oAVG.round(1) %></td>
      <td id="pnpC-dAVG"><%= @week.dAVG.round(1) %></td>
    </tr>
    <tr>
      <td>MAX</td>
      <td id="pnpC-oMAX"><%= @week.oMAX %></td>
      <td id="pnpC-dMAX"><%= @week.dMAX %></td>
    </tr>
    <tr>
      <td>MIN</td>
      <td id="pnpC-oMIN"><%= @week.oMIN %></td>
      <td id="pnpC-dMIN"><%= @week.dMIN %></td>
    </tr>
  </tbody>
</table>

<table id="pnpC-days-table" class="table">
  <thead>
    <tr>
      <th><%= t('Day') %></th>
      <th>O</th>
      <th>D</th>
      <th><%= t('well_registered') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @week.days %>
  </tbody>
</table>

<div class="pnpC-controls">
  <%= link_to t('Back'), weeks_path, :class => 'btn btn-primary' %>
</div>
