<% title "Week (#{@week.str_firstDay})" %>
<% body_classes "pnpC-week pnpC-show" %>
<h1><%= yield :title %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @week.comment %>
  <%= link_to 'Edit', edit_week_path(@week) %>
</p>

<div class="pnpC-controls">
  <%= link_to 'Back', weeks_path, :class => 'btn btn-primary' %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Stats</th>
      <th>O</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody id="pnpC-stats">
    <tr>
      <td>AVG</td>
      <td id="oAVG"><%= @week.oAVG.round(1) %></td>
      <td id="dAVG"><%= @week.dAVG.round(1) %></td>
    </tr>
    <tr>
      <td>MAX</td>
      <td id="oMAX"><%= @week.oMAX %></td>
      <td id="dMAX"><%= @week.dMAX %></td>
    </tr>
    <tr>
      <td>MIN</td>
      <td id="oMIN"><%= @week.oMIN %></td>
      <td id="dMIN"><%= @week.dMIN %></td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th>Day</th>
      <th>O</th>
      <th>D</th>
      <th>Well Registered</th>
    </tr>
  </thead>
  <tbody>
    <% @week.days.each do |day| %>
      <tr id="<%= day.id %>">
        <td class=""><%= link_to day.str_date, day, :class => 'btn btn-default' %>
        <td class=""><%= day.oTotal %></td>
        <td class=""><%= day.dTotal %></td>
        <td class=""><%= day.well_registered %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pnpC-controls">
  <%= link_to 'Back', weeks_path, :class => 'btn btn-primary' %>
</div>
